<!-- app.component.html -->
<div class="">
 
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Animal</button>
   
    <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.animal_id}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.animal_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="kind">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Kind </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.animal_kind}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Entry date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Entry date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.animal_entry_date | date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit </a> | 
          <a (click)="openDialog('Delete',element)"> Delete</a>  
        </mat-cell>
      </ng-container>
   
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
