<mat-nav-list>
    <a mat-list-item routerLink="/shelter" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Shelter</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>portrait</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="" (click)="onClose()" *ngIf="isAuth">
        <mat-icon>directions_bike</mat-icon>
        <span class="nav-caption">Animals</span>
    </a>
    <a mat-list-item routerLink="" (click)="onClose()" *ngIf="isAuth">
        <mat-icon>directions_bike</mat-icon>
        <span class="nav-caption">Branches</span>
    </a>
    <mat-list-item>
        <button  mat-icon-button (click)="onLogout()" *ngIf="isAuth">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>            
</mat-nav-list>
