<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
        <mat-form-field>
            <input type="email" matInput placeholder="your email" formControlName="email">
            <mat-error>Field must not be empty.</mat-error>
            <mat-error>E-Mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="your password" formControlName="password">            
            <mat-error>Invalid Password.</mat-error>
        </mat-form-field>                              
        <button type="button" (click)="onLogin()" mat-raised-button color="primary" [disabled]="loginForm.invalid">submit</button>        
    </form>
</section>


