<!-- app.component.html -->
<div class="">
 
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Create Branch</button>
   
    <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.branch_id}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.branch_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.branch_address}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.branch_phone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="employee number">
        <mat-header-cell *matHeaderCellDef> Employee number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.branch_employee_number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit </a>           
        </mat-cell>
      </ng-container>
   
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

