<div class="card-list" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center">
    <mat-card class="example-card" *ngFor="let animal of shelterAnimals">
        <mat-card-header>      
            <mat-card-title>{{ animal.animal_name }}</mat-card-title>
            <mat-card-subtitle>{{ animal.animal_kind }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ animal.animal_picture_address }}" alt="Animal photo" class="card-image">
        <mat-card-content>
            <h3>Entry date: {{ animal.animal_entry_date | date }}</h3>
            <h3>Branch: {{ animal.branch_id }}</h3>
        </mat-card-content>
        <mat-card-actions>            
            <button mat-button>SEE MORE</button>
        </mat-card-actions>
    </mat-card>
</div>
  