<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/" class="brand">Paws</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end"fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/shelter">Shelter</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth"><a routerLink="/animals">Animals</a></li>
            <li *ngIf="isAuth"><a routerLink="/branches">Branches</a></li>
            <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
        </ul>                                             
    </div>
</mat-toolbar>


