mat-toolbar
{
    background: #ffeeee !important;
}

.brand
{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    float:none;
}

a
{
    text-decoration: none;
    color: #5c5c5c;
}

a:hover,
a:active
{
    color: #e1e1e1;
}

.navigation-items
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption
{
    display: inline-block;
    padding-left: 6px;
}