/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*color Codes:
Main titles: #ff9799 , rgb(255, 151, 153)
Text 1 (Ligth): #e1e1e1 , rgb(225, 225, 225)
text 2 (Dark): #5c5c5c , rgb(92, 92, 92)
up navbar background: #ffeeee , rgb(255, 238, 238)
main navbar background: #ffdbdb , rgb(255, 219, 219)
*/

html, body
{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #5c5c5c !important;
}

body
{
    margin: 0;
    height: 100%;
}
