<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="./assets/img/carousel_img_1.jpg" alt="First slide">
        <div class="carousel-caption">
            <h5 class="h5-responsive">Save their lives and they will save yours</h5>
            <p>Here we have a bunch of buddies looking for love and to give it too</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/img/carousel_img_2.jpg"
        alt="Second slide">
        <div class="carousel-caption">
            <h5 class="h5-responsive">High quality care</h5>
            <p>We take care of all of them as if they were our children</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/img/carousel_img_3.jpg"
        alt="Third slide">
        <div class="carousel-caption">
            <h5 class="h5-responsive">Veterinary service</h5>
            <p>We have a great Veterinary team that will help your pet or farm friend</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
