.carousel-caption
{
  position: absolute;
  text-align: left;
  top: 30%;
  transform: translateY(10%);
}

.carousel-caption h5
{
    font-family: 'Cookie', cursive;
    font-size: 80px;
    color: #ff9799;
    font-weight: 400;
}

.carousel-inner p
{
    color: #e1e1e1;
    font-size: 20px;
}