<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong> Animal</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Name:" matInput [(ngModel)]="local_data.animal_name">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Kind:" matInput [(ngModel)]="local_data.animal_kind">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input matInput [matDatepicker]="picker" placeholder="Entry date: " [(ngModel)]="local_data.animal_entry_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Age:" matInput [(ngModel)]="local_data.animal_age">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Branch:" matInput [(ngModel)]="local_data.branch_id">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Status:" matInput [(ngModel)]="local_data.animal_status_id">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.animal_name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>